{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
        "indent": ["error", 4],
        "function-paren-newline": ["error", "consistent"],
        "object-curly-newline": ["error", { "consistent": true }],
        "curly": "error",
        "brace-style": ["error", "allman", {"allowSingleLine": true}]
    }
}
