{
    "extends": "eslint:recommended",
    "parserOptions": {
    },
    "env": {
        "browser": true
    },
    "rules": {
        "indent": ["error", 4],
        "function-paren-newline": ["error", "consistent"],
        "object-curly-newline": ["error", { "consistent": true }],
        "curly": "error"
    }
}
