.boxedBtn
{
	display: inline-block;
	
	background: white;

	width: 20px;
	height: 20px;

	border: 1px solid black;

	margin: 2px;
	text-align: center;
}

.hidden {
	display: none;
}

#startHintBox {
	position: relative;

	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);

	background: rgba(0, 0, 0, 0.5);

	width: 400px;
	height: 80px;
}

#startHintBox > div {

	position: relative;

	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);

	color: white;

	border: 1px solid white;
	
	width: 390px;
	height: 70px;
}

#startHint {

	text-align: center;
	position: relative;

	height: 20px;

	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);

	user-select: none;

	color: white;
}