{
    "extends": "eslint:recommended",
    "parserOptions": {
    },
    "env": {
        "browser": true
    },
    "rules": {
        "indent": [
            "error",
            4
        ]
    }
}
